.red {--theme-color:#ff3366;}
.orange {--theme-color:#ff6633;}
.yellow {--theme-color:#FFCC33;}
.green {--theme-color:#33FF66;}
.cyan {--theme-color:#33FFCC;}
.sky {--theme-color:#33CCFF;}
.blue {--theme-color:#3366FF;}
.indigo {--theme-color:#6633FF;}
.violet {--theme-color:#CC33FF;}